<h1 class='jumbotron'>WELCOME TO THE CONFERENCE SCHEDULE APPLICATION</h1>

<h1>This application is used to schedule rooms, schedule meetings, and add comments.  Every page asks the user for information, such as the date and time of the meeting, user's favorite color, date of birth, name of room and location, and other information.</h1>
<h1>As a user, you login into the system with an email and a password using a secure user authentication.
</h1>
