    @import 'bootstrap-sprockets';
    @import 'bootstrap';

.nav-format {
  text-align: center;
}

.header-format {
  text-align: center;
}

.simple_form label {
  float: left;
  width: 70px;
  margin: 2px;
}

.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form div.boolean label {
  float: none;
  margin: 0;
  width: 30%;
}

// .simple_form div.width-height {
//  // float: none;
//   width: 70px;
//   margin: 0;
//   padding-right: 5%;
//   margin-bottom: 10px;
// }


