    @import 'bootstrap-sprockets';
    @import 'bootstrap';

.image-format {
    border: 2px solid;
    padding: 20px;
    width: 800px;
    height: 800px;
    resize: both;
    overflow: auto;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.nav-format {
  text-align: center;
}

.header-format {
  text-align: center;
}

.simple_form label {
  float: left;
  width: 70px;
  margin: 2px;
}

.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form div.boolean label {
  float: none;
  margin: 0;
  width: 30%;
}

.password-format {
  width: 15%;
  margin: 15px;
}

.password-confirmation-format {
  width: 15%;
  margin: 30px;
}

.log-in-format {
  width: 15%;
}

