    @import 'bootstrap-sprockets';
    @import 'bootstrap';

.nav-format {
  text-align: center;
}

.header-format {
  text-align: center;
}

.simple_form label {
  float: left;
  width: 70px;
 // text-align: right;
  margin: 2px;
}

.simple_form div.input {
  margin-bottom: 10px;
}

// .simple_form div.boolean, .simple_form input[type = 'submit'] {
//   margin-left: 120px;
// }

.simple_form div.boolean label {
  float: none;
  margin: 0;
}
